@page

@model LoginModel
@{
    ViewBag.Title = "登入";
}

<h2>@ViewBag.Title</h2>
<hr />
<form method="post" class="form-horizontal" role="form" v-on:submit="validateBeforeSubmit">
    <div asp-validation-summary="All" class="text-danger form-text"></div>
    <div class="mb-3">
        <label asp-for="Data.Email" class="form-label">Email address</label>
        <input type="email" asp-for="Data.Email" class="form-control" placeholder="name@example.com" v-formatter.trim />
        <span vee-validation-for="Data.Email" class="text-danger form-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Data.Password" class="form-label">Password</label>
        <input type="password" asp-for="Data.Password" class="form-control" />
        <span vee-validation-for="Data.Password" class="text-danger form-text"></span>
    </div>
    <hr class="my-4">
    <button class="w-100 btn btn-lg btn-primary" type="submit">登入</button>
</form>